{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS (ローカル) -->
    <link rel="stylesheet"
          href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}

    <!-- JS（bundle: Popper 同梱） -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
